<% include header %>

            <br>
        <div id ="ctnt" class="container">
                <h2>
                        About Developer
                </h2>
            <div class="row">
                <div class="col-lg-6">
                    <span>Kancharla, Sai Krishna Teja</span>
                    
                    <p> Currently pursuing Master's Degree in Applied Computer Science at Northwest Missouri State University.</p>
                    <p> 
                        <span>
                            My current courses are:
                        </span>
                    </p>
                    <ol>
                        <li>Java</li>
                        <li>Web Apps</li>
                        <li>Advanced DB</li>
                    </ol>
                    <p> 
                            <span>
                                Technologies used in this Website:
                            </span>
                        </p>
                        <ol>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Bootstrap</li>
                        </ol>
                        <p> 
                                <span>
                                    Technical Skills:
                                </span>
                        </p>
                        <ol>
                            <li>
                                Python, Java, C, CPP, C#
                            </li>
                            <li>
                                HTML, CSS, JS
                            </li>
                            <li>
                                .NET, Xamarin, Android, IoT
                            </li>
                            <li>
                                Adobe After Effects, Premiere Pro, Audition, Photoshop, Lightroom
                            </li>
                        </ol>
    
                </div>
                <div class="col-lg-6">
                        <img id="propic" src="ProfilePic.jpg" alt="Avatar">
                        <img id="bearcat" src="bearcats.png">
                        <br>
                        <span>Favourite Quotes:</span>
                        <blockquote class="blockquote">
                                <p class="mb-0">Keep your friends rich and enemies rich and wait to find out which is which.</p>
                                <footer class="blockquote-footer">Ultron in <cite title="Source Title">AOU</cite></footer>
                        </blockquote>
                        <blockquote class="blockquote">
                                <p class="mb-0">You either die a Hero or you live long enough to see yourself become a villian.</p>
                                <footer class="blockquote-footer">Batman in <cite title="Source Title">DKT</cite></footer>
                        </blockquote>
                </div>

            </div>

             
                
        </div>

        <% include footer %>