<% include header %>

        <div id ="ctnt" class="slideshow">
                <img class="mySlides" src="wp1.jpg">
                <img class="mySlides" src="wp2.jpg">
                <img class="mySlides" src="wp3.jpg">
                <img class="mySlides" src="wp4.jpg">
                <img class="mySlides" src="wp5.jpg">
                <img class="mySlides" src="wp6.jpg">
                <img class="mySlides" src="wp7.jpg">
                <img class="mySlides" src="wp8.jpg">
                <img class="mySlides" src="wp9.jpg">
                <img class="mySlides" src="wp10.jpg">
                <img class="mySlides" src="wp11.jpg">
                <img class="mySlides" src="wp12.jpg">
                <img class="mySlides" src="wp13.jpg">
                <img class="mySlides" src="wp14.jpg">
                <img class="mySlides" src="wp15.jpg">
                <img class="mySlides" src="wp16.jpg">
        </div>
              
        <audio controls autoplay hidden>
                <source src="Rogue.mp3" type="audio/mpeg">
        </audio>
     
        <% include footer %>