<% include header %>

        <div id ="ctnt" class="container">
                <h3>
                        Calculate your discount here.
                </h3>
                <div class="row">
                    <div class="col-lg-6">
                            Enter the price.<br>
                            <input type="text" id="price"><br>
                            Enter the discount in percentage.<br>
                            <input type="text" id="percent"><br><br>
                            <button type="button" id="calc" onclick="calculate()">Calculate</button>
                            <p>
                                Your Effective price will be: <span id="result"></span>
                            </p>
    
    

                    </div>
                    <div class="col-lg-6" id="news">


                    </div>
                        
                </div>
                
        </div>

     
        <% include footer %>