
                <footer id="foot-page">
                    This is just a fan page of the legendary Assassin's Creed franchise.
</footer>
<script src="calc.js"></script>
<script src="game.js"></script>





</body>
</html>