<% include header %>

        <div class="container">
          <h2>
            Download the Wallpapers Here.
          </h2>
          <h4>
            Resolution: 1920 x 1080
          </h4>
              <div class="gallery">
                <a target="_blank" href="wp5.jpg">
                  <img src="wp5.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp6.jpg">
                  <img src="wp6.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp7.jpg">
                  <img src="wp7.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp8.jpg">
                  <img src="wp8.jpg" alt="" width="600" height="400">
                </a>
              </div>
              <div class="gallery">
                <a target="_blank" href="wp9.jpg">
                  <img src="wp9.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp10.jpg">
                  <img src="wp10.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp11.jpg">
                  <img src="wp11.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp12.jpg">
                  <img src="wp12.jpg" alt="" width="600" height="400">
                </a>
              </div>
              <div class="gallery">
                <a target="_blank" href="wp13.jpg">
                  <img src="wp13.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp14.jpg">
                  <img src="wp14.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp15.jpg">
                  <img src="wp15.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp16.jpg">
                  <img src="wp16.jpg" alt="" width="600" height="400">
                </a>
              </div>
              <div class="gallery">
                <a target="_blank" href="wp1.jpg">
                  <img src="wp1.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp2.jpg">
                  <img src="wp2.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp3.jpg">
                  <img src="wp3.jpg" alt="" width="600" height="400">
                </a>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="wp4.jpg">
                  <img src="wp4.jpg" alt="" width="600" height="400">
                </a>
              </div>
        </div>
     
        <% include footer %>