<% include header %>

        <div id ="ctnt" class="container">
                <main>
                        <section id="upper-left"></section>
                        <section id="upper-mid"> </section>
                        <section id="upper-right"></section>
                    
                        <section id="center-left"></section>
                        <section id="center-mid"> </section>
                        <section id="center-right"> </section>
                    
                        <section id="lower-left"> </section>
                        <section id="lower-mid"> </section>
                        <section id="lower-right"></section>

                        <button type="button" id="resetbtn" class="btn btn-primary" onclick="reset()">Reset</button>
                </main>
                      <aside>
                        <h1>Specification</h1>
                        <section>
                          <ul>
                            <li>Uses full-width header and footer.</li>
                            <li>Uses main 3 x 3 css grid, each with a section.</li>
                            <li>When user clicks a childless section, it adds an X.</li>
                            <li>If the move was valid, it selects a section for the computer and adds an O.</li>
                          </ul>

                        </section>
                    </aside>

        </div>

        <% include footer %>