<!DOCTYPE html>
<html>
    <head>
        <title>
            Assassin's Creed
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="Style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body background="bg.jpg">
        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Assassins"><img id="aclogo" src="AClogo.png"></a>
                </div>
  
                <ul class="nav navbar-nav">
                    <li><a href=/>Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Game">Tic-Tac-Toe</a></li>
                    <li><a href="/Gallery">Gallery</a></li>
                    <li><a href="/Contact">Contact Us</a></li>
                    <li><a href="/Upcoming">Upcoming</a></li>
                    <li><a href="/Calculate">Calculate</a></li>


                </ul>
            </div>
        </nav>
