<% include header %>

        <div id ="ctnt" class="container">
                <h1>
                        Welcome to the Assassin's Creed Universe.
                </h1>
                <div class="row">
                    <div class="col-lg-6">
                            <h4>
                                    Here is the trailer for the latest installment, Assassin's Creed Origins.
            
                            </h4>
                            </p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/cK4iAjzAoas?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
                    </div>
                    <div class="col-lg-6" id="news">
                        <br>
                        <dl>
                            <dt>
                                Game Details
                            </dt>
                            <br>
                            <dd>
                               <span>Developer</span> - UBISOFT
                            </dd>
                            <dd>
                                <span>Publisher</span> - UBISOFT
                            </dd>
                            <dd>
                                <span>Genre</span> - Action/Adventure
                            </dd>
                            <dd>
                                <span>Multiplayer</span> - No
                            </dd>
                        </dl>
                        <p>
                            The trailer for the next installment is released. Check in Upcoming page for it.
                        </p>
                        <p>
                            Next installment in the franchise is titled "Assassin's Creed Odyssey".
                        </p>
                    </div>
                        
                </div>
                
        </div>

        <% include footer %>