<% include header %>

        <div class="container">
        
                <div class="row">
                    <div class="col-lg-6">
                            <h4>
                                    Trailer for Assassin's Creed Odyssey releasing on October 5, 2018.
            
                            </h4>
                            </p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/htA6wHZZl6Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    
                    </div>
                    <div class="col-lg-6" id="news">
                        <br>
                        <dl>
                            <dt>
                                Pre-Order NOW!!! for these cool features
                            </dt>
                            <br>
                   

                            <dd>
                                <span>LEGENDARY SPARTAN HERO</span> - Embark on your journey from outcast to a legendary Spartan hero. 
                            </dd>
                            <dd>
                                <span>ANCIENT GREECE AWAITS</span> - Explore an entire country full of unexpected encounters in untamed environments and bustling ancient cities.
                            </dd>
                            <dd>
                                <span>CHOOSE YOUR PATH</span> - Your choices shape the world around you. Play in a living world that constantly reacts to your every decision.
                            </dd>
                            <dd>
                                <span>FIGHT EPIC BATTLES</span> - Charge into epic clashes between Sparta and Athens in battles pitting 150v150 soldiers against each other.
                            </dd>
                            <dd>
                                <span>SAIL THE AEGEAN SEA</span> - Recruit crewmembers and customize your ship as you explore and battle your way on the open seas.
                            </dd>
                            <br>
                            <dd>
                                <a target="_blank" href="https://store.ubi.com/us/game/?dwvar_5afda5f788a7e34d25b5012f_Platform=pcdl&pid=5afda5f788a7e34d25b5012f&lang=en_US&edition=Standard%20Edition&source=detail" class="btn btn-info" role="button">Pre-Order</a> <span>for $59.99 only and get the game 3 days early.</span>
                            </dd>
                        </dl>
 
                    </div>
                        
                </div>
                
        </div>

        <% include footer %>